body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}



header {
    background-image: url('images/wallpaper3.jpg'); /* Add the background image here */
    background-size: cover; /* Cover the entire header */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-position: center; /* Center the image */
    color: white; /* Adjust text color for visibility */
    padding: 50px; /* Add some padding */
    text-align: center; /* Center text horizontally */
    flex-direction: column;
    align-items: center;
}

select {
    margin: 10px;
    padding: 5px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.place {
    background: white;
    padding: 20px;
    margin: 10px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #c43e88;
}

.places-container{
    display: flex;
    flex-wrap: wrap;
}

#recommendations{
    display: flex;
    flex-wrap: wrap;
}

/* Styles for stars */
.star {
    font-size: 20px; /* Adjust as needed */
    color: gray; /* Default color for empty stars */
}

.full-star {
    color: rgb(121, 193, 252); /* Color for full stars */
}

.fa {
    color: rgb(121, 193, 252); /* Color for full stars */
    position: relative;
}

